.btn {
  border: 1px;
  border-style: solid;
  padding: 12px 30px;
  background-color: transparent;
  font-size: 1.3rem;
  letter-spacing: 0.08em;
  font-weight: 600;
  &--primary {
    background-color: $red-400;
    border-color: $red-400;
    color: $white;
    &:hover {
      background-color: $red-hover;
    }
  }
  &--secondary {
    border-color: $red-400;
    color: $red-400;
    &:hover {
      background-color: $red-400;
      color: $white;
    }
  }
  &--invisible {
    border: 0px solid transparent;
    color: $red-400;
    &:hover {
      background-color: $red-400;
      color: $white;
    }
  }
  &--disabled {
    background-color: $red-400;
    background-image: url('#{$prefix}/icons/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  @include phone {
    padding: 8px 20px;
  }
}
