.field-group {
  display: flex;
  border: 1px solid $red-400;
  margin-top: -1px;
  > div {
    &:not(:first-child) {
      border-left: 1px solid $red-400;
    }
  }
  @include portrait-tablet {
    display: block;
    > div {
      &:not(:first-child) {
        border-left: 0;
        border-top: 1px solid $red-400;
      }
    }
  }
}
