.products-cover {
  border-bottom: 1px solid $red-400;
  img {
    // height: 100%;
    height: cols(3);
  }
  @include landscape-tablet {
    img {
      height: cols(5);
      min-height: 400px;
    }
  }
  @include portrait-tablet {
    margin-top: 30px;
    border-bottom: 0;
  }
  @include phone {
    // border-bottom: 0;
    display: none;
  }
}
