.variants {
  border-bottom: 1px solid $red-400;
  margin-top: -1px;
  &__body {
    &__row {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background-color: $light-gray;
        border-bottom: 1px solid $red-400;
        border-top: 1px solid $red-400;
        // prevents row from growing by 2px from borders
        margin: -1px 0;
      }
      &__item {
        width: 100%;
        padding: 10px 0px 10px 20px;
        display: flex;
        align-items: center;
        &__key {
          display: none;
        }
        &:not(:last-child) {
          border-right: 1px solid $red-400;
        }
      }
      .btn--invisible {
        width: 110px;
        flex-shrink: 0;
        // offset element from scrollbar
        margin-right: 17px;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 100%;
      padding: 10px 0px 10px 20px;
      border-top: 1px solid $red-400;
      border-bottom: 1px solid $red-400;
      background-color: $light-gray;
      color: $red-400;
      font-size: 1.4rem;
      letter-spacing: 0.05em;
      &:last-child {
        box-sizing: content-box;
        padding-right: 115px;
      }
    }
  }
  @include landscape-tablet {
    &__body {
      .trackY {
        right: 3px !important;
      }
    }
  }
  @include portrait-tablet {
    &__body {
      .trackY {
        right: -3px !important;
      }
    }
  }
  @include phone {
    border-right: 1px solid $red-400;
    border-left: 1px solid $red-400;
    &__head {
      &__item {
        padding-left: 30px;
        display: none;

        &:nth-child(1) {
          display: block;
        }
      }
    }
    &__body {
      &__row {
        flex-wrap: wrap;
        &:hover {
          // disable hover
          background-color: transparent;
          border-top: 0;
          border-bottom: 0;
          margin: 0;
        }
        &__dropdown {
          flex-basis: 100%;
          border-top: 1px solid $red-400;
          border-bottom: 1px solid $red-400;
          background-color: $light-gray;
          p {
            padding: 10px 0 10px 47px;
            &:last-child {
              padding-bottom: 20px;
            }
            &:first-child {
              padding-top: 20px;
            }
          }
        }

        &.active {
          .variants__body__row__item::before {
            transform: rotate(0deg);
          }
        }
        &__item {
          &:not(:last-child) {
            border-right: 0;
          }
          // 110px is width of the button
          // make sure, that button stay on the same line as dimensions
          width: calc(100% - 110px);

          // width: auto;
          // flex-shrink: 1;
          padding-left: 15px;
          &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background-image: url('#{$prefix}/icons/dropdown.svg');
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 15px;
            transform: rotate(-90deg);
          }
          &:not(:first-child) {
            display: none;
          }
        }
        .btn--invisible {
          border-left: 1px solid $red-400;
          margin-right: 0;
        }
      }
    }
  }
}
