.product-detail {
  display: flex;
  width: 100%;
  margin-left: -1px;
  &__content {
    width: cols(8);
    height: auto;
    flex-shrink: 0;
    border-right: 1px solid $red;
    border-left: 1px solid $red;
    border-bottom: 1px solid $red;
    h2 {
      margin: 30px 0 30px cols(0.5);
    }
    &__head {
      height: cols(5);
      padding: 30px cols(0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid $red;
      h1 {
        font-size: 3.6rem;
        margin-bottom: 20px;
      }
      h2 {
        margin-left: 0;
      }
      p {
        max-width: 300px;
      }
      &__specs {
        display: flex;
        span {
          display: block;
          margin-bottom: 5px;
        }
        &__body {
          margin-left: 30px;
        }
      }
    }
    &__images {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      img {
        margin: 0 10px;
        object-fit: cover;
        width: 300px;
        height: 300px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__cover {
    width: 100%;
    height: cols(5);
    border-bottom: 1px solid $red;
    border-right: 1px solid $red;
    position: sticky;
    top: $navbarHeight;
    z-index: -1;
  }
  @include big-destkop {
    &__content {
      &__head {
        height: cols(4);
      }
    }
    &__cover {
      height: cols(4);
    }
  }
  @include small-notebook {
    &__cover {
      border-right: 0;
    }
  }
  @include landscape-tablet {
    position: relative;
    &__content {
      border-right: 0;
      // minus width of sidebar
      width: calc(100vw - 300px);
      &__head {
        padding-right: calc(#{cols(6)} + 30px);
        height: cols(8);
        min-height: 600px;
      }
    }
    &__cover {
      border-right: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: cols(5);
      height: cols(8);
      min-height: 600px;
      border-left: 1px solid $red;
    }
  }
  @include portrait-tablet {
    &__content {
      width: 100%;
      border-right: 1px solid $red;
      &__head {
        border-top: 1px solid $red;
      }
    }
    &__cover {
      width: cols(6);
      // min-height: initial;
      // height: 400px;
    }
  }
  @include phone {
    display: flex;
    flex-direction: column-reverse;
    &__content {
      border-right: 0;
      border-left: 0;
      border-bottom: 0;
      h2 {
        margin-left: 0;
      }
      &__head {
        border-top: 0;
        padding: 80px 0px;
        height: auto;
        min-height: initial;
        border-bottom: 0;
      }
      &__images {
        img {
          width: 100%;
          height: auto;
          &:not(:last-child) {
            margin-right: 0;
          }
        }
      }
    }
    &__cover {
      width: 100%;
      height: cols(15);
      min-height: initial;
      position: static;
      border-left: 0;
      border-top: 0;
      border-bottom: 0;
    }
  }
}
