.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  align-items: flex-start;
  &__load-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
}
