.sidebar__item {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.3rem;
  padding: 10px 0;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  // margin-left: 40px;
  cursor: pointer;
  // color: $white;
  .bg-image {
    $sidebar-icon-size: 18px;

    transform: translateY(-2px) !important;
    @include for-ie {
      transform: translateY(1px) !important;
    }
    margin-left: $sidebar-icon-size * -2 !important;
    margin-right: $sidebar-icon-size !important;
    width: $sidebar-icon-size !important;
    height: $sidebar-icon-size !important;
  }
  &:hover {
    opacity: 0.5;
  }
  &.active {
    font-weight: 800;
  }
}
