@mixin sidebar-line($offset-line: 20px) {
  &:after {
    content: '';
    display: block;
    position: absolute;
    // transform: translateY($offset-line);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $red-700;
    @content;
  }
}

.sidebar {
  &__block {
    // Clips sidebar elements when list is collapsed
    overflow: hidden;
    background-color: $red-400;
    position: relative;
    &.level1 {
      border-bottom: 1px solid $red-700;
      color: $white;
      .sidebar__item {
        background-color: $red-500;
      }
      > .sidebar__item {
        // @include sidebar-line() {
        //   bottom: 0px;
        // }
        background-color: $red-400;
      }
      &.expanded {
      }
    }
    &.level2 {
      .sidebar__item {
        padding-left: 80px + 20px;
      }
      &.expanded {
        background-color: $red-500;
        .sidebar__item {
          background-color: $red-600;
        }
        > .sidebar__item {
          background-color: $red-500;
          // @include sidebar-line {
          //   top: 0;
          //   bottom: unset;
          // }
        }
        // @include sidebar-line(0px);
      }
    }
    &.level3 {
      // padding: 20px 0;
      background-color: $red-600;
      .sidebar__item {
        padding-left: 80px + 40px;
      }
      &.expanded {
        .sidebar__item {
          background-color: $red-700;
        }
        > .sidebar__item {
          background-color: $red-600;
        }
      }
    }
    &.level4 {
      .sidebar__item {
        padding-left: 80px + 60px;
      }
    }
  }
  @include portrait-tablet {
    // padding-left: 30px;
    &__block {
      // background-color: $light-gray;
      &.level1 {
        // padding-left: 30px;
        border-top: 1px solid $red-400;
        border-bottom: 0;
        // margin-top: -1px;
        &:not(:last-child) {
          // border-bottom: 0;
        }
      }
    }
  }
}
