.sidebar {
  width: cols(4);
  min-width: 300px;
  max-width: 500px;
  height: calc(100vh - #{$navbarHeight});
  overflow-y: auto;
  position: sticky;
  border-right: 1px solid $red-400;
  // color: $white;
  top: $navbarHeight !important;
  @include for-ie {
    // width: 400px;
    // min-width: unset;
    // max-width: unset;
  }
  &__toggler {
    display: none;
    &.show {
      margin-bottom: 30px;
    }
  }
  @include portrait-tablet {
    position: relative;
    top: 0 !important;
    width: 100%;
    min-width: initial;
    max-width: initial;
    height: auto;
    overflow-y: unset;
    // margin-left: 60px;
    background-color: $white;
    border-right: 0;
    // width: calc(100% + 90px);
    // left: 30px;

    &__toggler {
      display: flex;
      cursor: pointer;
      align-items: center;
      // justify-content: flex-start;
      padding: 30px;
      padding-left: 0;
      &.show {
        margin-bottom: 0;
        padding-left: 0;
      }
      .bg-image {
        width: 22px;
        height: auto;
        display: block;
        margin-right: 30px;
      }
    }
  }
}
