.sidebar__item {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.3rem;
  padding: 10px 0;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  // margin-left: 40px;
  cursor: pointer;
  // color: $white;
  img {
    $sidebar-icon-size: 20px;

    transform: translateY(-2px);
    margin-left: $sidebar-icon-size * -2;
    margin-right: $sidebar-icon-size;
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
  }
  &:hover {
    opacity: 0.5;
  }
  &.active {
    font-weight: 800;
  }
}
