.sidebar {
  width: cols(4);
  min-width: 300px;
  max-width: 400px;
  overflow-y: auto;
  position: sticky;
  border-right: 1px solid $red;
  top: $navbarHeight;
  &__toggler {
    display: none;
    &.show {
      margin-bottom: 30px;
    }
  }
  @include portrait-tablet {
    position: relative;
    top: 0;
    width: 100%;
    min-width: initial;
    max-width: initial;
    background-color: $white;
    border-right: 0;
    &__toggler {
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 30px;
      &.show {
        margin-bottom: 0;
      }
      img {
        width: 22px;
        height: auto;
        display: block;
        margin-right: 30px;
      }
    }
  }
}
