.counter {
  border-right: 1px solid $red-400;
  border-bottom: 1px solid $red-400;
  width: 50px;
  cursor: pointer;
  flex-shrink: 0;
  &--minus,
  &--plus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    &:first-child {
      border-bottom: 1px solid $red-400;
    }
    .bg-image {
      width: 15px;
      height: auto;
    }
  }
  @include for-ie {
    &--plus {
      .bg-image {
        width: 15px;
        height: 15px;
      }
    }
    &--minus {
      .bg-image {
        width: 15px;
        height: 2px;
      }
    }
  }
}
