.text-input {
  padding: 10px 20px;
  width: 100%;
  &__label {
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
  }
  label {
    margin-bottom: 0;
    font-size: 1.6rem;
    color: $red-400;
  }
  input,
  textarea {
    height: 50px;
    box-shadow: none;
    resize: none;
    width: 100%;
    border: 0;
    margin-right: 10px;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }
  &.error {
    color: $red-400;
  }
  textarea {
    padding-top: 10px;
  }
  &__error-msg {
    background-color: $red-400;
    color: $white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
  }
}
