.view {
  width: 100%;
  display: flex;
  align-items: flex-start;
  // overflow hidden interferes with sticky elements
  padding-right: $navbarHeight;
  position: relative;

  @include small-notebook {
    padding-right: 0;
  }
  @include portrait-tablet {
    padding: 0 30px;
    &.with-sidebar {
      flex-direction: column;
    }
  }
}
