.home-view {
  &__hero {
    // height: 100vh;
    // height: calc(100vh - #{$navbarHeight});
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
    // .products-grid {
    //   .products-grid-item:nth-child(3n) {
    //     border-right: 0;
    //   }
    // }
    &__featured {
      border-right: 1px solid $red-400;
      &__header {
        padding: cols(0.25) cols(0) cols(0.25) cols(0.25);
        border-bottom: 1px solid $red-400;
        .link {
          cursor: pointer;
        }
      }
    }
  }
  @include portrait-tablet {
    padding-right: 30px;
    &__hero {
      margin-bottom: 30px;
      // margin-top: 30px;
      width: calc(100%);
      &__featured {
        &__header {
          padding: cols(1) 0;
        }
      }
    }
  }
  @include phone {
    &__hero {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 30px;
      &__featured {
        border-right: 0;
        &__header {
          border-bottom: 0;
        }
      }
    }
  }
}
