$input-height: 80px;
$navbarHeight: 75px;

$light-gray: #fafafa;
$red-400: #f2182a;
$red-500: #e01627;
$red-600: #d61525;
$red-700: #cc1423;
$red-hover: #da1e2d;
$white: white;
$black: #171e26;
$gray: #737980;

@function red-opacity($opacity) {
  @return rgba(242, 24, 42, $opacity);
}

@function cols($cols) {
  @return 100vw / 15 * $cols;
}

@mixin big-destkop {
  @media screen and (min-width: 1921px) {
    @content;
  }
}
@mixin small-notebook {
  @media screen and (max-width: 1366px) {
    @content;
  }
}

@mixin landscape-tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin portrait-tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin for-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
